body {
    max-width: 650px;
    margin: auto;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.numeric_button {
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  text-align: center;
  border: none;
  border-style: none;
  padding: 15px 15px;
  border-radius: 10px;
  z-index:6;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.numeric_button:hover {
  background-color: #156b29;
}


