body {
  padding: 0px;
  font-family: sans-serif;
  margin: 0;
}


#info {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 100;
  color: white;
  display:block;
  font-size: x-large;
}

#sa {
  position: absolute;
  top: 1000px;
  width: 97%;
  text-align: right;
  z-index: 100;
  color: black;
  display:block;
  font-size: x-large;
}

.numeric_button {
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  text-align: center;
  border: none;
  border-style: none;
  padding: 15px 15px;
  border-radius: 10px;
  z-index:6;
  position: absolute;
  left: 20px;
  bottom: 20px;
}


.numeric_button:hover {
  background-color: #156b29;
}

